#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=UnityHub
Comment=Unity
Exec=/home/$USER/Desktop/Unity_Hub/UnityHub.AppImage
Icon=/home/$USER/Desktop/Unity_Hub/UnityIcon.png
Terminal=false
Type=Application
Categories=Utility;Development;
